.service-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 24px;
        margin: 20px auto 0;
        width: 100%;
}

/* PC */
@media (max-width: 1024px) {
    .service-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Tablet */
@media (max-width: 768px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .service-container {
        grid-template-columns: 1fr;
        gap: 14px;
    }
}