.student-data-form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
  margin-bottom: var(--space-6);

}


@media (max-width: 480px) {
  .student-data-form__row {
    grid-template-columns: 1fr;
    gap: 0;
  }
}