.report-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 124px auto;
  padding: 24px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.report-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: var(--space-4);
}

.reports-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
